# Ignore specific files
test.ipynb
test.sh
test.sh.sh
xselect.log
xspec.log
times.ipynb
uplims_analysis/bkg.reg
uplims_analysis/bkg*
uplims_analysis/src*
uplims_analysis/sw*
xsel_ascii_out.xsl
xsel_display.def
xsel_files.tmp
xsel_hist.xsl
xsel_obscat.tmp
xsel_obslist.def
xsel_read_cat.xsl
xsel_region.xsl
xsel_session.xsl
test.sh*.out
header_test.ipynb
high_uncertainties.ipynb
investigating_plots.ipynb
jakob_comparison.ipynb
jakob_comparison2.ipynb
lightcurve_and_hr.png
PC.fit_results_pow.data
run.sh*
test_first_few_obs.ipynb
test2.ipynb
test3.ipynb
website_lightcurve.txt
website.ipynb
PC.fit_results_pow.dat
failed_retrieval.txt
NOTES.txt

# Ignore specific directories
__pycache__/
plots/
spectra/
spectra_not_used/
figures/
from_website_10627172/
spectral_fit_results/
spectral_fit_results_fixing/
spectral_fit_results_1_10_keV/
spectral_fit_results_fixing_1_10_keV/
spectral_fit_residuals/
spectral_fit_residuals_fixing/
spectral_fit_residuals_1_10_keV/
spectral_fit_residuals_fixing_1_10_keV/
lightcurves/
lightcurves_1/
spectral_results/
test_manual_xspec/
uplims_analysis/data/
uplims_analysis/xrtpipeline_output/
uplims_analysis_old/
spectra_TEST/
jakob_data/
test_spectrum_143/
test_spectrum_144/
testing/
TESTING/
run_files/
xspec_files/
LILIA_COMPARISON/
OLD_RESULTS/
simultaneous_spectra_test/
TESTING_GROUPING/
testing_pileup_manual/
final_results/
final_residuals/
TESTING_notebooks/
